body{
	padding: 0;
	margin: 0;
	font-family: 'Cabin';
	font-size: 18px;
}
a{
	color: #57CC99;
	text-decoration: none;
}
.header{
	position: relative;
	z-index: 10;
	box-shadow: 0 5px 10px #00000030;
	box-sizing: border-box;
	padding: 20px 50px 20px 50px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.header span{
	font-size: 27px;
	font-family: 'Fugaz One';
	color: #38A3A5;
	padding: 0 15px 0 15px;
	border-radius: 35px 10px 35px 10px / 61px 10px 61px 10px;
	border: 2px solid #38A3A5;
	border-style: none solid solid none;
}
.header div{
	padding: 5px;
	margin-left: 20px;
}
.header div a{
	margin: 0 5px 0 5px;
}
#main{
	display: flex;
	flex-wrap: nowrap;
}
.sidebar{
	height: calc(100vh - 81px);
	width: 250px;
	position: sticky;
	top: 0;
	z-index: 5;
	padding: 25px;
	box-sizing: border-box;
	overflow: auto;
}
details{
	color: #38A3A5;
	user-select: none;
	margin-bottom: 10px;
}
summary{
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 0 3px 5px #ddd;
	padding: 10px;
}
details li{
	list-style-type: none;
	padding: 10px 10px 0 10px;
}
details li::before{
	content: "\25CB";
	color: #57CC99;
	display: inline-block; 
	width: 20px;
}
.content{
	width: 100%;
	background: #f3f3f3;
}
iframe{
	width: 100%;
	min-height: 100%;
}
.card{
	border-radius: 20px;
	box-shadow: 0 3px 5px #ddd;
	padding: 25px 35px 25px 35px;
	background: #fff;
	margin-bottom: 25px;
}
table{
	border-collapse: collapse;
	font-size: 18px;
}
table th{
	padding: 5px;
	border: 1px solid #ccc;
	background: #22577A;
	color: #fff;
	font-weight: normal;
}
table td{
	padding: 5px;
	border: 1px solid #ccc;
}
pre{
	width: max-content;
	border-radius: 10px;
}
.problem code{
	background: #f3f3f3;
	padding: 0px 5px 0px 5px;
	border-radius: 5px;
	box-shadow: inset 0 0 0 1px #ddd;
	box-sizing: border-box;
}
h2, h3{
	width: max-content;
	padding: 10px 15px 10px 15px !important;
	border-radius: 35px 10px 35px 10px / 61px 10px 61px 10px !important;
	background: #57CC99;
	color: #fff;
	margin: 0;
}
hr{
	border-radius: 5px;
	height: 2px;
	background: #ccc;
	border: none;
}
.intuition{
	list-style-type: none;
}
.intuition li::before{
	content: "\25CF";
	color: #57CC99;
	display: inline-block; 
	width: 20px;
	margin-left: -20px;
}
